  <!-- Footer
  ================================================== -->
  <div class="page-header footer-divider"></div>

  <div class="section footer">
    <a href="https://twitter.com/kazz_yokoyama" class="twitter-follow-button">Follow @kazz_yokoyama</a>
    <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
  </div>